<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<h2>Reports</h2>

<h3>Total Revenue: ₹ {{ total }}</h3>
<h3>Total Transactions: {{ total_transactions }}</h3>

<hr>

<h3>All Events</h3>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
    </tr>

    {% for event in events %}
    <tr>
        <td>{{ event[0] }}</td>
        <td>{{ event[1] }}</td>
        <td>{{ event[2] }}</td>
        <td>{{ event[3] }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/dashboard">Back to Dashboard</a>

</body>
</html>
